* {
    margin: 0;
    // padding: 0;
    // border: 0;
    // outline: 0;
    // font-size: 100%;
    // vertical-align: baseline;
    // background: transparent;
}
.registration {

    body {
        width: 800px;
        height: 100%;
        margin: auto;
        border: 5px black solid;
        background-color:lavender;
        
    }

    #formContainer {
        label {
            font-size: 0.8  em;
            display: block;
        }

        input {
            width: 430px;
            height: 25px;
            display: block;
            margin-bottom: 100px;
            margin: auto;
            border-radius: 5px;
        }

        // background-color:lavender;
        // border: 5px cyan solid; 
    }

    #errorContainer {
        ul {
            list-style-type: none;
            margin: auto;
        }

        color: red;
        margin-bottom: 10px;
        // border: 5px #847847 solid; 
    }   

    #fieldContainer {
        margin-bottom: 10px;
        // border: 5px indigo solid; 
    }

    
    width: 80%;
    min-height: 100%;
    margin: auto;
    // margin-top: 10px;;
    border: 5px blue solid;
    background-image: url("./../../assets/dri-bg4.jpg");
    // background-color: lavender;

}

.header {

    img {
        width: 10%;
        height: auto;
        // margin-right: 80%;
    }
    // width: 90%;
    // height: 100px    ;;
    // margin: auto;
    // border: 5px orange solid;
    background-color:#43556d
    ;

}



