.registration {
    #header {

    }

    #body {
        width: 500px;
        margin: auto;
        border: 5px green solid;

    }

    #formContainer {
        label {
            display: block;
            margin: auto;
        }
        input {
            display: block;
            margin-bottom: 100px;
            margin: auto;
            border-radius: 5px;
        }
    }

    #fieldContainer {
        margin-bottom: 10px;
        border: 5px indigo solid; 
    }

    #errorContainer {

        ul {
            list-style-type: none;
            margin: auto;
        }

        color: red;
        margin-bottom: 10px;
        border: 5px #847847 solid; 
    }

    #footer {

    }
    
    width: 98%;
    margin: auto;
    border: 5px red solid;

}



